[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
pdfplumber = "*"
pytesseract = "*"
openpyxl = "*"
intuit-oauth = "*"
customtkinter = "*"
python-dotenv = "*"
keyring = "*"
requests = "*"
xlsxwriter = "*"
opencv-python-headless = "*"
paddleocr = "*"
"winrt-windows.media.ocr" = "*"
"winrt-windows.globalization" = "*"
"winrt-windows.storage.streams" = "*"
"winrt-windows.graphics.imaging" = "*"
psycopg2 = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.12"
