[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
pdfplumber = "*"
pytesseract = "*"
openpyxl = "*"
intuit-oauth = "*"
customtkinter = "*"
python-dotenv = "*"
keyring = "*"
requests = "*"
xlsxwriter = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.12"
